*.excalidraw

*.xml
*.iml

build/
Build/
out/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
.cmake/
